<ion-content>
    <ion-app>
        <ion-content fullscreen>
            <ion-slides pager>
                <ion-slide class="scroll-content1">
                </ion-slide>
                <ion-slide class="scroll-content2">
                    <ion-button class="start" color="success" ll="clear" (click)="sliding()">
                        <p>Tiếp tục</p>
                    </ion-button>
                </ion-slide>
            </ion-slides>
        </ion-content>
    </ion-app>
</ion-content>