<ion-header class="ion-no-border">
    <a href="/tabs/tab3">X</a>
</ion-header>

<ion-content>
    <div class="body">
        <div class="img">
            <img src="assets/images/logo_app.jpg" alt="Bí kíp pha chế" />
        </div>
    </div>
    <h2>Đăng nhập</h2>
    <ion-item>
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-input placeholder="Tên đăng nhập"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon name="lock-open-outline" slot="start"></ion-icon>
        <ion-input placeholder="Mật khẩu"></ion-input>
    </ion-item>
    <!-- nút đăng nhập -->
    <ion-button expand="block" href="/tabs/tab3">
        Đăng nhập
    </ion-button>
    <a href="#">Quên mật khẩu?</a>
    <p>Bạn chưa có tài khoản? <a>Đăng ký</a></p>
</ion-content>